<%- include('../layout/header'); -%>
<div class="container">
    <div class="content-wrapper text-center">
        <div class="oops">Oops!</div>
        <h1>404 - Page Not Found</h1>
    </div>
</div>
<%- include('../layout/footer'); -%>