<!-- Navigation -->
<nav class="navbar navbar-expand-lg" id="mainNav">
    <div class="container">
        <a class="navbar-brand" href="/">
            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                 width="175.5px" height="72.5px" viewBox="0 0 175.5 72.5" enable-background="new 0 0 175.5 72.5" xml:space="preserve">
<path fill="#FFFFFF" d="M90.163,9.167v-9c-19.882,0-36,16.117-36,36s16.118,36,36,36v-9c-13.378,0-24.476-9.73-26.62-22.5h17.62
	v-8.999h-17.62C65.688,18.897,76.785,9.167,90.163,9.167"/>
                <polygon fill="#FFFFFF" points="59.163,72.332 18.33,0 8.663,0.167 49.83,72.5 "/>
                <polygon fill="#FFFFFF" points="4.83,0 45.496,72.332 40.662,72.166 0.162,0.167 "/>
                <path fill="#FFFFFF" d="M144.007,63.166l-4.5,9h15.75c11.184,0,20.25-9.066,20.25-20.25c0-11.186-9.066-20.249-20.25-20.249
	c-6.213,0-11.25-5.037-11.25-11.25c0-6.214,5.037-11.25,11.25-11.25v-9c-11.185,0-20.25,9.064-20.25,20.25
	c0,11.184,9.065,20.249,20.25,20.249c6.213,0,11.25,5.037,11.25,11.25s-5.037,11.25-11.25,11.25H144.007z"/>
                <path fill="#FFFFFF" d="M118.462,63.166c7.479-6.596,12.201-16.244,12.201-27c0-19.882-16.118-36-36-36v9c14.911,0,27,12.088,27,27
	s-12.089,27-27,27v9l40.667-0.334l4.833-9.166L118.462,63.166z"/>
                <polygon fill="#FFFFFF" points="39.716,30.482 58.662,0.167 49.662,0.167 35.453,22.903 "/>
                <polygon fill="#FFFFFF" points="21.242,45.641 4.663,72.166 13.663,72.166 25.506,53.219 "/>
            </svg>

        </a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="/track">Track</a></li>
            </ul>
        </div>
    </div>
</nav>